.nav{
    width: 100vw;
    height: 20vh;
    display: flex;
    background-color: goldenrod;
    justify-content: space-between;
}
.nav .logo img{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.nav .logo h4{
    margin: -2px;
    margin-left: 4px;
    color:floralwhite;
}
.nav .nav-links {
    margin: 15px;
}

.nav .nav-links ul li{
    display: inline-flex;
    margin: 15px;
}
.nav .nav-links ul li a{
  color: midnightblue;
}
.nav .nav-links ul li a:hover{
    color: floralwhite;
}

.banner{
    width: 100vw;
    height: 70vh;
    background-image: url(https://plus.unsplash.com/premium_photo-1689609950112-d66095626efb?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8aG91c2V8ZW58MHx8MHx8fDA%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:center;
   
}
.banner h2{
    color: bisque;
    font-family: cursive;
    font-size: 35px;
}
.banner p {
    font-size: 22px;
    color: rgba(215, 160, 20, 0.736);
}
