
.nav{
    width: 100vw;
    height: 20vh;
    display: flex;
    background-color: goldenrod;
    justify-content: space-between;
}
.nav .logo img{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.nav .logo h4{
    margin: -2px;
    margin-left: 4px;
    color:floralwhite;
}
.nav .nav-links {
    margin: 15px;
}

.nav .nav-links ul li{
    display: inline-flex;
    margin: 15px;
}
.nav .nav-links ul li a{
  color: midnightblue;
}
.nav .nav-links ul li a:hover{
    color: floralwhite;
}
#errors {
    color: red;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cadetblue;
}
.footer{
    width: 100vw;
    height: 35vh;
    background-color: goldenrod;
    display: flex;
    justify-content: space-evenly;
}
.footer .card {
    width: 300px;
    height: 180px;
    margin-top: 10px;
    text-align: center;
    background-color: rebeccapurple;
}
.footer .card ul li{
    list-style-type:none;
}
.footer .card ul li a{
    color: black;
}
